# Ignore files for distribution archives.

/.atoum.bootstrap.php export-ignore
/.atoum.php           export-ignore
/.editorconfig        export-ignore
/.gitattributes       export-ignore
/.github              export-ignore
/.gitignore           export-ignore
/features             export-ignore
/gherkinlint.json     export-ignore
/phpcs.xml            export-ignore
/phpmd.xml            export-ignore
/phpstan.neon         export-ignore
/phpunit.xml          export-ignore
/rector.php           export-ignore
/renovate.json        export-ignore
/tests                export-ignore
/www                  export-ignore
